.sliderRoot > span:not(.sliderTrack) {
    transition: transform 150ms ease-out, left 150ms ease-out;
}

.sliderTrack > span {
    transition: right 150ms ease-out, left 150ms ease-out;
}

.sliderThumb {
    box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.6);
}